{% extends "base.html" %}

{% block body %}

<br>
<br>
<form action="/addEntry" method="POST">
    <br>
    <br>
    <div class="form-row w-75 mx-auto">
        <div class="form-group col-md-2">
            <label for="track">Track</label>
            <select name = "track" class="form-control" id = "track">
                {% for track_name in big_data['track'] %}
                    {% if 'track' in arr and track_name == arr['track'] %}
                        <option SELECTED>{{track_name}}</option>
                    {% else %}
                        <option>{{ track_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-1">
            <label for="min">Min</label>
            <input type="text" class="form-control" name = "min" id = "min" value=1 readonly>
        </div>
        <div class="form-group col-md-1">
            <label for="seconds">Seconds</label>
            {% if 'seconds' in arr %}
            <input type="text" class="form-control" name="seconds" id="seconds" value= {{ arr['seconds'] }}>
            {% else %}
            <input type="text" class="form-control" name="seconds" id="seconds">
            {% endif %}
        </div>
        <div class="form-group col-md-1">
            <label for="ms">MS</label>
            {% if 'ms' in arr %}
            <input type="text" class="form-control" name="ms" id="ms" value = {{arr['ms']}}>
            {% else %}
            <input type="text" class="form-control" name="ms" id="ms">
            {% endif %}
        </div>
        <div class="form-group col-md-1">
            <label for="traction">Traction</label>
            <select name="traction" id="traction" class="form-control">
                {% for traction in big_data['traction'] %}
                    {% if 'traction' in arr %}
                        {% if arr['traction'] == traction %}
                            <option SELECTED>{{traction}}</option>
                        {% else %}
                            <option>{{ traction }}</option>
                        {% endif %}
                    {% else %}
                        <option>{{traction}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-1">
            <label for="gearbox">Gearbox</label>
            <select name="gearbox" id="gearbox" class="form-control">
                {% for gearbox in big_data['gearbox'] %}
                    {% if 'gearbox' in arr %}
                        {% if arr['gearbox'] == gearbox %}
                            <option SELECTED>{{gearbox}}</option>
                        {% else %}
                            <option>{{ gearbox }}</option>
                        {% endif %}
                    {% else %}
                        <option>{{gearbox}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="braking">Braking Assist</label>
            <select name="braking" id="braking" class="form-control">
                {% for braking in big_data['braking'] %}
                    {% if 'braking' in arr %}
                        {% if arr['braking'] == braking %}
                            <option SELECTED>{{braking}}</option>
                        {% else %}
                            <option>{{ braking }}</option>
                        {% endif %}
                    {% else %}
                        <option>{{braking}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="car">Car</label>
            <select name="car" id="car" class="form-control">
                {% for car_name in big_data['car'] %}
                    {% if 'car' in arr and arr['car'] == car_name %}
                        <option SELECTED>{{ car_name }}</option>
                    {% else %}
                        <option>{{ car_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

    </div>

    <br>
    <div class="form-row w-75 mx-auto">
        <div class="form-group col-md">
            <button type="Submit" name = "add_entry" value = "submit" class="btn btn-primary mb-2">Submit</button>
        </div>
    </div>
    <br>
    <br>
</form>



{% endblock %}
